.screen{
	width: 100%;
	height: 100%;
}
.stats{
	position: fixed;
	width: 100%;
	background-color: powderblue;
}

.formulaTab{
	display: none;
	position: relative;
	top: 150px;
	height: 10vh;
}

.mainMenu{
	position: relative;
	top: 75px;
}

.screen{
	width: 100%;
	height: 100vh;
}

.upgradeTab{
	
	position: relative;
	top: 150px;
	height: 30vh;
}

.unlockVelocity{
	display: none;
}

.unlockDistance{
	
	display: none;
}

